<!DOCTYPE html>
<html xmlns : th = "http://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Student Data Form</title>
</head>
<body>
<form th:action = "@{/savestudent}" th:Object="${student}" method = POST>
<b>Name : </b>
<input type="text" th:field ="*{name}"/>
<b>Score : </b>
<input type="text" th:field ="*{score}"/>
<b>Total Marks : </b>
<input type = "text" th:field = "*{total_marks}"/>
<b>Remark : </b>
<input type ="text" th:field = "*{remark}"/>
<input type="submit" value="Save"/>
<input type="reset" value="Reset"/>
</form>
</body>
</html>